/* GLOBAL */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f9f8fa;
}

/* ACCESSIBILITY */

:focus {
  outline: 0.2rem solid #002efa; /* Customize to match your design */
  outline-offset: 0.1rem;
}

.skip-link {
  font-family: "Work Sans", sans-serif;
  position: absolute;
  top: -4rem;
  left: 4rem;
  background: #f9f8fa;
  color: #002efa;
  padding: 1rem;
  z-index: 100;
  transition: top 0.3s;
}

.skip-link:focus {
  top: 2rem;
}

/* CURSOR */
/* Code used from https://codepen.io/kjbrum/pen/qooQJJ */

body {
  cursor: none;
}

.cursor-dot,
.cursor-dot-outline {
  pointer-events: none;
  position: absolute;
  z-index: 99;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  opacity: 0;
  transform: translate(-50%, -50%);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.cursor-dot {
  width: 0.5rem;
  height: 0.5rem;
  background-color: #002efa;
}

.cursor-dot-outline {
  width: 3rem;
  height: 3rem;
  background-color: rgba(182, 180, 180, 0.5);
}

/* FONTS */

/* Headings H1 and H2 */

h1,
h2 {
  font-family: "Pathway Extreme", sans-serif;
  color: #002efa; /* 7.15:1 contrast checker passes WCAG */
  background: none;
  font-size: 6.5rem;
  font-weight: 600;
}

h1 {
  font-size: 6.5rem;
  margin: 2rem 4rem; /* top and bottom, left and right */
}

h2 {
  font-size: 4rem;
  margin: 1rem 4rem; /* top and bottom, left and right */
}

/* Headings H3 - H5 and Paragraphs */

h3,
h4,
h5,
p,
ul,
li {
  font-family: "Work Sans", sans-serif;
  color: #282828;
  background: none;
  line-height: 1.5;
}

h3 {
  font-size: 2rem;
  font-weight: 300;
  margin: 1rem 12rem 2rem 4rem; /* top, right, bottom, left */
}

h4 {
  font-size: 1.5rem;
  font-weight: 300;
  margin: 1rem 4rem; /* top and bottom, left and right */
}

h5 {
  font-size: 1.125rem;
  font-weight: 600;
  margin: 1rem 4rem; /* top and bottom, left and right */
}

p {
  font-size: 1.125rem;
  font-weight: 400;
  margin: 1rem 4rem; /* top and bottom, left and right */
}

/* List Elements */

ul,
li {
  font-size: 1.125rem;
  font-weight: 400;
  margin: 1rem 2.5rem;
}

/* DIVIDER */

.divider {
  width: 100%;
  max-width: 100%;
  text-align: center;
}

.divider img {
  width: 100%;
  height: auto;
  display: block;
}

/* LINKS */

/* Default link styling */
a {
  color: #002efa;
  background: none;
  text-decoration: none; /* remove underline */
  position: relative; /* required for pseudo-element positioning */
  transition: color 0.3s ease; /* smooth transition for color change */
  display: inline-block; /* prevent links from breaking across lines */
}

a::after {
  content: "";
  position: absolute;
  width: 100%; /* extend line across the entire width */
  bottom: 0;
  left: 0;
  height: 0.2rem; /* adjust height as needed */
  background-color: #002efa;
  transition: width 0.3s ease;
  transform: scaleX(0); /* start with no width */
  transform-origin: center left;
}

h3 a::after {
  height: 0.25rem;
  background-color: #002efa;
}

p a::after {
  height: 0.2rem;
  background-color: #002efa;
}

a:hover::after {
  transform: scaleX(1); /* expand line to full width on hover */
}

/* BUTTONS */

button {
  font-family: "Work Sans", sans-serif;
  font-size: 1rem;
  text-align: center;
  padding: 1rem;
  margin-right: 2rem;
}

#downloadCV {
  background-color: #002efa;
  color: #f9f8fa;
  border: none;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  border-radius: 2rem;
  transition: background-color 0.3s ease, box-shadow 0.5s ease-in-out,
    color 0.5s ease-in-out;
  position: relative;
  overflow: hidden;
}

#downloadCV:hover {
  background-color: #f9f8fa;
  color: #002efa;
  box-shadow: 0px 0px 0px 2.5px #f9f8fa, 0px 0px 0px 5px #002efa,
    0px 0px 0px 10px white, 0px 0px 0px 10.5px #002efa;
}

/* SCROLL DOWN INDICATOR */

.scroll-down-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
  margin-bottom: auto;
  position: relative;
}

.scroll-down-indicator {
  background: none;
  text-align: center;
  animation: bounce 2s infinite;
}

.scroll-down-indicator span {
  font-family: "Work Sans", sans-serif;
  font-size: 1.125rem;
  color: #002efa;
  display: block;
  margin-bottom: 1rem;
}

.arrow {
  background: none;
  width: 2rem;
  height: 2rem;
  border: 0.2rem solid #002efa;
  border-radius: 50%;
  margin: 0 auto;
  position: relative;
  animation: arrow-bounce 2s infinite;
}

@keyframes arrow-bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-5px);
  }
}

/* TITLE RUBBERBAND EFFECT */
/* Code used from https://codepen.io/Tiopayo/pen/XxEVoo */

.greeting {
  display: flex;
  flex-wrap: wrap; /* Allow wrapping for smaller screens */
  align-items: center;
  margin: 2rem 2rem; /* top and bottom, left and right */
}

.greetingLine {
  display: flex;
  justify-content: flex-start; /* Align content to the left */
  align-items: center;
}

.greetingLetter {
  font-family: "Pathway Extreme", sans-serif;
  font-size: 6.5rem;
  font-weight: 600;
  color: #002efa; /* Initial color */
  transition: color 0.5s ease; /* Smooth transition for color */
}

.greetingSpace {
  margin: 0 1rem; /* Add more space for specific characters */
}

@-webkit-keyframes rubberBand {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  20% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }
  40% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }
  60% {
    -webkit-transform: scale3d(1.02, 0.98, 1);
    transform: scale3d(1.02, 0.98, 1);
  }
  80% {
    -webkit-transform: scale3d(0.98, 1.02, 1);
    transform: scale3d(0.98, 1.02, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes rubberBand {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  20% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    -ms-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }
  40% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    -ms-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }
  60% {
    -webkit-transform: scale3d(1.02, 0.98, 1);
    -ms-transform: scale3d(1.02, 0.98, 1);
    transform: scale3d(1.02, 0.98, 1);
  }
  80% {
    -webkit-transform: scale3d(0.98, 1.02, 1);
    -ms-transform: scale3d(0.98, 1.02, 1);
    transform: scale3d(0.98, 1.02, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.greetingLetter:hover {
  -webkit-animation: rubberBand 0.8s both; /* Animation for rubberband effect */
  animation: rubberBand 0.8s both; /* Animation for rubberband effect */
}

.rubberBand {
  -webkit-animation-name: rubberBand;
  animation-name: rubberBand;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
}

/* NAVIGATION */

nav {
  display: flex;
  justify-content: right;
  background-color: #f9f8fa;
  margin: 1rem;
  padding: 1rem;
}

/* CONTENTS */

/* General */

.contentWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: left;
  text-align: left;
}

.content {
  width: 100%; /* Adjust width as needed */
}

/* Header */

#headerWrapper {
  min-height: 100vh; /* Full viewport height for header */
}

/* About */

#aboutWrapper {
  min-height: 80vh;
}

#aboutContent .columns {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 1rem;
}

#aboutContent .left-column,
#aboutContent .right-column {
  width: 48%; /* Adjust width as needed */
  margin-bottom: 2rem;
}

#aboutContent .right-column ul {
  list-style-type: circle;
}

/* About Images */

.about-image-container {
  position: relative; /* Allows positioning of child elements */
  width: 100%;
  max-width: 80%;
  margin: auto; /* Centers the container horizontally */
  padding-top: 100%; /* Maintains aspect ratio */
  overflow: hidden; /* Ensures images do not overflow the container */
}

.about-image {
  position: absolute; /* Stacks the images on top of each other */
  top: 0;
  left: 0;
  width: 100%; /* Ensures the images scale proportionally within the container */
  height: 100%;
  object-fit: contain; /* Ensures the images cover the container area */
  transition: opacity 0.4s ease-in-out; /* Smooth transition effect */
}

/* Default image visible by default */
.about-image-default {
  opacity: 1;
  z-index: 1; /* Ensures the default image is on top */
}

/* Hover image hidden by default */
.about-image-hover {
  opacity: 0;
  z-index: 0; /* Ensures the hover image is below the default image */
}

/* Show the hover image on container hover */
.about-image-container:hover .about-image-hover {
  opacity: 1;
  z-index: 1; /* Brings the hover image to the top */
}

/* Hide the default image on container hover */
.about-image-container:hover .about-image-default {
  opacity: 0;
  z-index: 0; /* Sends the default image to the bottom */
}

.about-image-caption p {
  margin: 0rem 6rem;
  font-size: 1rem;
  text-align: center;
}

/* Work */

#workContent {
  width: 100%; /* Ensure the content section takes up full width */
}

/* Footer */

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #002efa;
  padding: 2rem 8rem; /* Adjust padding as needed */
}

#footerContact {
  background: none;
  display: flex;
  justify-content: center;
}

#footerText,
#footerAcknowledgment {
  background: none;
  text-align: center;
}

#footerAcknowledgment {
  font-style: italic;
}

#footerText p,
#footerAcknowledgment p {
  color: #f9f8fa;
  font-size: 1rem;
}

#linkedin-logo,
#email-logo {
  background: none;
  height: 2rem; /* Adjust size of the logo */
  margin: 0rem 0.5rem; /* Adjust logo margin */
  transition: transform 0.3s ease; /* Smooth transition for scaling */
}

#linkedin-logo:hover,
#email-logo:hover {
  transform: scale(1.1); /* Scale the logo on hover */
}

/* IMAGE GRID */

.grid-container {
  display: grid;
  gap: 4rem;
  grid-template-columns: repeat(2, 1fr);
  margin: 0rem 4rem 4rem 4rem;
}

.grid-item {
  text-align: left;
  margin-bottom: 2rem;
}

.grid-item p {
  margin: 0; /* Remove margins specifically for paragraphs in the grid items */
}

.grid-item h4,
.grid-item h5 {
  margin: 1rem 0;
}

.grid-item img {
  max-width: 100%;
  transition: transform 0.6s ease; /* Adjusted transition duration for slower effect */
}

.grid-item img:hover {
  transform: scale(1.008); /* Slightly smaller scale for more subtle effect */
}

/* Tags */
.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 1rem;
}

.tag {
  font-family: "Work Sans", sans-serif;
  display: inline-block;
  padding: 0.3rem 0.8rem;
  border-radius: 1rem;
  border: 0.1rem solid #002efa;
  background-color: transparent;
  color: #282828;
  font-size: 0.9rem;
  font-weight: 400;
}

/* RESPONSIVENESS */

/* Media query for extra small screens (up to 576px) */
@media only screen and (max-width: 576px) {
  /* Styles for extra small screens (phones in portrait mode) */

  /* Cursor */

  .cursor-dot,
  .cursor-dot-outline {
    display: none;
  }

  body {
    cursor: auto;
  }

  /* Fonts */

  h1 {
    font-size: 4rem;
    margin: 2rem 2rem;
  }

  h2 {
    font-size: 2.5rem;
    margin: 1rem 2rem;
  }

  h3 {
    font-size: 1.5rem;
    margin: 1rem 4rem 1rem 2rem;
  }

  h4 {
    font-size: 1.5rem;
  }

  h5 {
    font-size: 1.25rem;
  }

  p,
  ul,
  li {
    font-size: 1rem;
    margin: 1rem 2rem;
  }

  .greeting {
    margin: 1rem 1rem 2rem 1rem;
  }

  .greetingLetter {
    font-size: 4rem;
  }

  .greetingSpace {
    margin: 0 0.5rem;
  }

  /* Links */

  h3 a::after {
    height: 0.2rem;
  }

  /* Scroll Button */

  .scroll-down-indicator {
    display: none; /* Remove scroll down indicator on mobile view */
  }

  .arrow {
    width: 1rem;
    height: 1rem;
    border: 0.1rem solid #002efa;
  }

  /* About */

  #aboutContent .columns {
    flex-direction: column; /* Stack columns vertically */
  }

  #aboutContent .left-column,
  #aboutContent .right-column {
    width: 100%; /* Full width on smaller screens */
  }

  #aboutContent .left-column {
    order: 1; /* Ensure left column comes first */
  }

  #aboutContent .right-column {
    order: 2; /* Ensure right column comes second */
    margin-top: 1rem; /* Add space between columns */
  }

  .about-image-caption p {
    margin: 0rem 4rem;
  }
  /* Footer */

  footer {
    padding: 1rem; /* Further decrease padding */
  }

  /* Image Grid */

  .grid-container {
    grid-template-columns: 1fr;
    margin: 0rem 2rem 4rem 2rem;
  }

  /* Tags */
  .tags {
    gap: 0.5rem;
  }
}

/* Media query for small screens (577px to 768px) */
@media only screen and (min-width: 577px) and (max-width: 768px) {
  /* Styles for small screens (phones in landscape and small tablets) */

  /* Cursor */

  .cursor-dot,
  .cursor-dot-outline {
    display: none;
  }

  body {
    cursor: auto;
  }

  /* Fonts */

  h1 {
    font-size: 4rem;
    margin: 2rem 2rem;
  }

  h2 {
    font-size: 2rem;
    margin: 1rem 2rem;
  }

  h3 {
    font-size: 1.5rem;
    margin: 1rem 4rem 1rem 2rem;
  }

  p,
  ul,
  li {
    font-size: 1rem;
    margin: 1rem 2rem;
  }

  .greeting {
    margin: 1rem 1rem 2rem 0rem;
  }

  .greetingLetter {
    font-size: 4rem;
  }

  .greetingSpace {
    margin: 0 1rem;
  }

  /* Scroll Button */

  .scroll-down-indicator {
    display: none; /* Remove scroll down indicator on mobile view */
  }

  /* Buttons */

  button {
    font-size: 1rem;
    padding: 1rem 1.5rem;
    margin: 1rem 0.5rem;
  }

  /* About */

  #aboutContent .columns {
    flex-direction: column; /* Stack columns vertically */
  }

  #aboutContent .left-column,
  #aboutContent .right-column {
    width: 100%; /* Full width on smaller screens */
  }

  #aboutContent .left-column {
    order: 1; /* Ensure left column comes first */
  }

  #aboutContent .right-column {
    order: 2; /* Ensure right column comes second */
    margin-top: 1rem; /* Add space between columns */
  }

  /* Footer */

  footer {
    padding: 1rem; /* Further decrease padding */
  }

  /* Image Grid */

  .grid-container {
    grid-template-columns: 1fr;
    margin: 0rem 2rem 4rem 2rem;
  }
}

/* Media query for medium screens (769px to 992px) */
@media only screen and (min-width: 769px) and (max-width: 992px) {
  /* Styles for medium screens (tablets and smaller desktops) */

  /* Fonts */

  h3 {
    margin: 1rem 6rem 2rem 4rem; /* top, right, bottom, left */
  }

  /* Image Grid */

  .grid-container {
    grid-template-columns: 1fr;
  }

  /* About */

  #aboutContent .columns {
    flex-direction: column; /* Stack columns vertically */
  }

  #aboutContent .left-column,
  #aboutContent .right-column {
    width: 100%; /* Full width on smaller screens */
  }

  #aboutContent .left-column {
    order: 1; /* Ensure left column comes first */
  }

  #aboutContent .right-column {
    order: 2; /* Ensure right column comes second */
    margin-top: 1rem; /* Add space between columns */
  }

  /* Footer */

  footer {
    padding: 2rem 2rem; /* Further decrease padding */
  }
}

/* Media query for large screens (993px to 1200px) */
@media only screen and (min-width: 993px) and (max-width: 1200px) {
  /* Styles for large screens (larger desktops and laptops) */

  /* Fonts */

  h3 {
    margin: 1rem 6rem 2rem 4rem; /* top, right, bottom, left */
  }

  /* Footer */

  footer {
    padding: 2rem 2rem; /* Further decrease padding */
  }
}